@import "tailwindcss";

body {
  margin: 0;
}

#root{
  max-width: 100%;
  min-height: 100svh;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}


/* #resume-preview {
  height: fit-content;
  background: white;
  color: #111111;
  padding: 32px;
  box-sizing: border-box;
  overflow: hidden;
} */







/* I try @media() Technique in letter  */
/* h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
} */

